[mitm]
hostname = testflight.apple.com

[rewrite_local]
^https:\/\/testflight\.apple\.com\/v3\/accounts\/(?!.*\/accept).*$ url script-request-header https://raw.githubusercontent.com/YuiChy-CSA/TF/main/Auto_join_TF.js
^https?:\/\/testflight\.apple\.com\/v3\/accounts\/.*\/apps$ url script-request-header https://raw.githubusercontent.com/YuiChy-CSA/TF/main/TF_keys.js
^https:\/\/testflight\.apple\.com\/join\/(.*)$ script-request-header https://raw.githubusercontent.com/YuiChy-CSA/TF/main/TF_keys.js

[task_local]
0/1 * * * * * https://raw.githubusercontent.com/YuiChy-CSA/TF/main/Auto_join_TF.js, tag=Tự động tham gia TF, img-url=https://gitlab.com/lodepuly/iconlibrary/-/raw/main/App_icon/120px/TestFlight.png, enabled=true
